---
import Modal from "../utils/Modal.astro";
import {iconsMapping, Project} from "../../../resources/data";
export interface Props {
    project: Project
}

const {
    project
} = Astro.props;

const {
    title,
    description,
    shortDescription,
    date,
    stack,
    link
} = project;
const icons = () => stack.reduce((acc, el) => iconsMapping[el] ? acc.concat([iconsMapping[el]]) : acc, []);
---

<style xmlns="http://www.w3.org/1999/xhtml">
    .timeline-card {
        display: flex;
        gap: 6em;
        justify-content: space-between;
    }

    .timeline-card div {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    h2 {
        margin: 0;
    }

    h4 {
        margin: .5em 0;
    }

    p {
        color: var(--text-secondary);
        width: max-content;
        margin: 0;
    }

</style>

<div class="timeline timeline-card">
    <div>
        <h2>{title}</h2>
        <p>{shortDescription}</p>
        <span>
        {icons().map(i => <img src={i} width="32" height="32" alt=""/>)}
            </span>
    </div>
    <div style="justify-content: space-between">
        <small>{date}</small>
        <Modal id={title} title={title}>

            <div>
                {
                    link ?
                            <iframe src="https://www.youtube.com/embed/-ZIlGy2ew0g?si=bDHBpNicPYAaQS6Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>:
                            <img alt="modal-image" style="height: 16rem; width: 16rem; object-fit: cover"
                                 src={project.img}/>
                }
                <div>
                    <h4>Tech stack</h4>
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
                        {project.stack.map((t, i) => <span class="badge">{t}</span>)}
                    </div>
                    <h4>Description</h4>
                    {description}
                </div>
            </div>

        </Modal>
    </div>
</div>
