---
import NButton from "./NButton.astro";
interface Props {
    title: string,
    id: string,
}

const { title, id } = Astro.props;
---
<label for={id} class="tl-more">
    See more
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="var(--mid-gray)" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
    </svg>
</label>

<input type="checkbox" id={id}>
<label for={id} class="modal-background"></label>
<div class="modal">
    <div class="modal-header">
        <h2>{title}</h2>
        <label for={id}>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAdVBMVEUAAABNTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU0N3NIOAAAAJnRSTlMAAQIDBAUGBwgRFRYZGiEjQ3l7hYaqtLm8vsDFx87a4uvv8fP1+bbY9ZEAAAB8SURBVBhXXY5LFoJAAMOCIP4VBRXEv5j7H9HFDOizu2TRFljedgCQHeocWHVaAWStXnKyl2oVWI+kd1XLvFV1D7Ng3qrWKYMZ+MdEhk3gbhw59KvlH0eTnf2mgiRwvQ7NW6aqNmncukKhnvo/zzlQ2PR/HgsAJkncH6XwAcr0FUY5BVeFAAAAAElFTkSuQmCC" width="16" height="16" alt="">
        </label>
    </div>
    <div class="n-modal-content">
        <slot/>
    </div>
    <div style="display: flex; justify-content: flex-end; margin: 1rem">
        <label class="close-button" for={id}>Close</label>
    </div>
</div>


<style>
    input[type="checkbox"] {
        display:none;
    }
    input[type="checkbox"]:checked ~ .modal {
        top: 0;
    }
    input[type="checkbox"]:checked ~ .modal-background {
        z-index: 9998;
        background-color: rgba(0,0,0,0.6);
    }
    .modal-background {
        transition: all .3s ease;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -20;
    }
    .modal {
        position: fixed;
        top: -300vh;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        max-width: 1500px;
        width: 90%;
        max-height: 100%;
        overflow: auto;
        height: max-content;
        border-radius: 8px;
        border: 1px solid var(--dark-gray);
        background-color: var(--background-body);
        box-sizing: border-box;
        z-index: 9999;
        transition: all .05s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }
    .modal > p {
        padding: 15px;
        margin: 0;
    }
    .modal-header {
        background-color: var(--background-body);
        border-bottom: 1px solid var(--dark-gray);
        box-sizing: border-box;
        height: 50px;
    }
    .modal-header h3 {
        margin: 0;
        box-sizing: border-box;
        padding-left: 15px;
        line-height: 50px;
        color: #4d4d4d;
        font-size: 16px;
        display: inline-block;
    }
    .modal-header label {
        box-sizing: border-box;
        float: right;
        line-height: 50px;
        padding: 0 .5rem;
        cursor: pointer;
    }
    .modal-header label:hover img {
        opacity: 0.6;
    }
    .n-modal-content {
        padding: 2rem;
    }
    .tl-more {
        cursor: pointer;
        width: max-content;
        color: var(--primary-color);
        display: flex;
        align-items: center;
    }

    h2 {
        margin: 1rem;
        color: var(--primary-color);
    }

    .tl-more:hover {
        text-decoration: underline;
    }

    .close-button {
        width: 100%;
        display: flex;
        padding: 1rem 2rem;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 8px;
        border: none;
        background: linear-gradient(94deg, #9906AA 0%, #DC0000 100%);
        box-shadow: 0 4px 4px 0 rgba(220, 0, 0, 0.37);
        cursor: pointer;
        color: #DBDEE1;
        text-decoration: none;

        /* Text button */
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.0125rem;
    }
</style>